<form id="product_form" class="form-horizontal col-lg-12 col-md-12">

    <!--<div class="form-group col-xs-6 col-sm-6 col-md-6">-->
        <!--<label class="control-label col-md-4">-->
            <!--Language-->
        <!--</label>-->

        <!--<div class="col-md-8">-->
            <!--<select ng-disabled="disabled" ng-model="selectedLanguage" ng-options="lang.id_lang as lang.name for lang in languages">-->
                <!--&lt;!&ndash;<option ng-repeat="lang in languages" value="{{lang.id_lang}}" ng-selected="selectedLanguage == lang.id_lang">{{lang.name}}</option>&ndash;&gt;-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->
    <ul class="nav nav-tabs">
        <li ng-repeat="item in languages"  ng-class="langClass(item)"><a href="javascript:void(0)" ng-click="setLanguage(item.id_lang)" >{{item.name}}</a></li>
    </ul>

    <div class="well col-md-12" ng-show="isLoading()">Chargement en cours</div>

    <table ng-show="!isLoading()" class="table">
        <thead>
        <tr>
            <th><span class="title_box">Caractéristique</span></th>
            <th><span class="title_box">Valeur prédéfinie</span></th>
            <th><span class="title_box"><u>OU</u> Valeur personnalisée</span></th>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="item in features">
            <td> {{item.name}}</td>
            <td>
                <select ng-model="selectedOption[item.id_feature]" ng-options='option.id_feature_value as option.value for option in item.options'
                        ng-disabled="disabled || isLoading() || !item.options.length"
                        ng-change="setProductFeature(item.id_feature, selectedOption[item.id_feature], option.value, 0);">
                </select>
            </td>
            <td>
                <div class="col-lg-12">
                    <textarea class="custom_13_ALL textarea-autosize" cols="40" ng-model="customValues[item.id_feature][selectedLanguage]" ng-disabled="disabled || isLoading()"></textarea>
                </div>
            </td>
        </tr>


        </tbody>
    </table>
    <div class="clearfix"></div>
</form>